<section class="todoapp">
  <header app-header class="header"></header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section *ngIf="isListVisible" class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul app-todos class="todo-list">

      <!--<li class="completed">
        <div class="view">
          <input class="toggle" type="checkbox" checked>
          <label>Taste JavaScript</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Create a TodoMVC template">
      </li>
      <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Buy a unicorn</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Rule the web">
      </li>-->
    </ul>
  </section>
  <footer app-footer *ngIf="isListVisible" class="footer"></footer>
</section>
